<%- include('blocks/header', {path, user, page: 'index', meta: {}}) %>

<section class="welcome-section" style="margin-top: 10%;">
  <div id="text-group">
    <h1 class="display-1 font-weight-bold mb-0">Cases</h1>
    <h3 class="h3 text-muted mt-0">All the servers cases.</h3>
  </div>
</section>

<section class="cases-section pb-3" style="margin-top: 10%;">
  <div class="card card-white border-0 mb-3">
  	<div class="btn-toolbar card-body" role="toolbar" aria-label="Button group with nested dropdown">
  		<div class="input-group">
  			<select class="form-control" >
  				<option>All Cases</option>
  				<option>Warnings</option>
  				<option>Mutes</option>
  				<option>Kicks</option>
  				<option>Bans</option>
  			</select>
  		</div>
  		<div class="input-group ml-1">
  			<select class="form-control" >
  				<option>Oldest</option>
  				<option>Newest</option>
  			</select>
  		</div>
  	</div>
  </div>
	<% if (!cases || cases.length <= 0) { %>
		 <div class="alert alert-danger" role="alert">
	    Wow! No cases found....
	  </div>
	<% } else { %>
		<div class="row">
			<% for (const c of cases) { %>
				<% if (c && c.caseID && c.userID && c.moderatorID) { %>
					<% const target = bot.users.get(c.userID) %>
					<% const mod = bot.users.get(c.moderatorID) %>
          <div class="col-sm-4 mt-3 mb-3">
  					<div class="card card-white border-0 mb-3">
  						<div class="card-body mb-0">
  							<h5 class="card-title mb-0">Case #<%= c.caseID %> | <% if (c.status && c.status === 'active') { %> ✅ <% } else { %> ❌ <% } %> | <% if (c.type) {  if (c.type == 'Are u') { %> mute <% } else { %> <%= c.type %> <% } } %> </h5>
  						</div>
  						<ul class="list-group list-group-flush">
  							<li class="list-group-item"><strong>User:</strong> <% if (target && target.username) { %> <%= target.username || c.userID %> <% } else { %> <%= c.userID %> <% } %></li>
  							<li class="list-group-item"><strong>Moderator:</strong> <% if (mod && mod.username) { %> <%= mod.username || 'unknown' %> <% } else { %> <%= c.moderatorID %> <% } %></li>
  							<li class="list-group-item"><strong><% if (!c.newReason) { %>Reason:<% } else { %> Old Reason:<% } %></strong> <%= c.reason %>
  								<% if (c.newReason) { %><br><strong>New Reason:</strong> <%= c.newReason %> <% } %></li>
  						</ul>
  						<div class="card-body">
  							<a href="/case/<%= c.caseID %>" class="card-link">View Case</a>
  						</div>
  					</div>
          </div>
				<% } %>
			<% } %>
		</div>
	<% } %>
</section>

<% include ./blocks/footer %>
